<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/baseUser::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section class="mt-6">
    <div class="card shadow-sm mr-2">
        <div class="card-body mt-3">
            <div th:classappend="${message.type}" class="alert py-2" role="alert"
                 th:if="${message != null}">
                <p class="text-center mb-2" th:text="${message.message}"></p>
            </div>
            <h1 class="text-center" style="font-family: 'Roboto', sans-serif; font-size: 30px;">
                Update Contact
            </h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form th:action="@{/user/processAddContact}" method="post" enctype="multipart/form-data"
                              th:object="${contact}" class="mt-2">
                            <input type="hidden" th:field="${contact.CId}">
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                <input type="text" class="form-control" placeholder="Enter first name" th:field="${contact.name}"
                                       required>

                            </div>
                            <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-alt"></i>
                                    </span>
                                <input type="text" class="form-control" placeholder="Enter nick name" th:field="${contact.secondName}"
                                       required>

                            </div>
                            <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                <input type="text" class="form-control" placeholder="Enter phone number" th:field="${contact.phoneNumber}"
                                       required min="11" max="11">

                            </div>
                            <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        @
                                    </span>
                                <input type="email" class="form-control" placeholder="Enter your email address" th:field="${contact.email}"
                                       required>

                            </div>
                            <div class="input-group mt-2">
                                    <span class="input-group-text">
                                        <i class="fa fa-briefcase"></i>
                                    </span>
                                <input type="text" class="form-control" placeholder="Enter your work description" th:field="${contact.work}"
                                       required>

                            </div>
                            <div class="form-group mt-3">
                                <textarea id="textarea" rows="10" class="form-control" placeholder="Enter your description here" th:field="${contact.description}"></textarea>
                            </div>
                            <div class="custom-file mt-3">
                                <span>Current Image: </span>
                                <img th:src="@{'/images/contact/'+${contact.image}}" alt="No Image Found!" th:width="150">
                            </div>
                            <div class="custom-file mt-2">
                                <input type="file" name="profileImage">
                            </div>
                            <div class="container text-center mt-4">
                                <button type="submit" class="btn btn-primary">Update Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/v6gyaf8bl1zd7av0o218d2run1teiz5yauv46m9zulc4ly0z/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until May 29, 2025:
                'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
</section>
</body>
</html>