<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>
<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mr-2">
          <div class="card-body mt-3 my-5">
            <div th:classappend="${message.type}" class="alert py-2" role="alert"
                 th:if="${message != null}">
              <p class="text-center mb-2" th:text="${message.message}"></p>
            </div>
            <form th:action="@{/submitEmailForGenarateOTP}" th:object="${emailDTO}">
              <h1 class="text-center" style="font-family: 'Roboto', sans-serif; font-size: 30px;">
                Please insert your email to reset your password
              </h1>
              <div class="form-group mt-5 col-md-7 mx-auto">
                <input th:field="*{email}" type="text"
                       class="form-control" size="10%" placeholder="Enter your email address"
                       th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}">
                  Old password validation
                </div>
              </div>
              <div class="container mt-3 text-center">
                <button type="submit" class="btn btn-primary">Generate OTP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>