<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mr-2">
                    <div class="card-body mt-3 my-5">
                        <div th:classappend="${message.type}" class="alert py-2" role="alert"
                             th:if="${message != null}">
                            <p class="text-center mb-2" th:text="${message.message}"></p>
                        </div>
                        <form th:action="@{/resetPassword}" th:object="${passwordResetDTO}" method="post">
                            <h1 class="text-center" style="font-family: 'Roboto', sans-serif; font-size: 30px;">
                                Change your password
                            </h1>
                            <div class="form-group mt-5 col-md-10 mx-auto">
                                <input th:field="*{password1}" name="password1" type="password"
                                       class="form-control" placeholder="Enter your new password"
                                       th:classappend="${#fields.hasErrors('password1')?'is-invalid':''}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password1')}"
                                     th:errors="*{password1}">
                                    New password validation
                                </div>
                            </div>
                            <div class="form-group mt-3 col-md-10 mx-auto">
                                <input th:field="*{password2}" name="password2" type="password"
                                       class="form-control" placeholder="Enter your new password again"
                                       th:classappend="${#fields.hasErrors('password2')?'is-invalid' : ''}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">
                                    New password validation
                                </div>
                            </div>
                            <div class="container mt-3 text-center">
                                <button type="submit" class="btn btn-primary">Change</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>